<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/src/styles/style.css">
    <title>Game Library</title>
</head>
<body>
    <div class="text-effect">
        <h1 class="neon" data-text="Game library" >Game library</h1>
        <div class="gradient"></div>
        <div class="spotlight"></div>
    </div>
    <div class="imgg">
        <img src="/static/src/img/main.png" alt="main" class="img"> 
    </div>
    <div>
        <a href="home" id="buttongo">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Get Started
        </a>
    </div>
    <div>
        <footer class="footer">
            <img src="/static/src/img/brin.png" alt="Company" class="brin">
        </footer>
    </div>
</body>
</html>